.env
.env.term
SEM.session
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite databases (если используете)
*.db
*.sqlite

# Log files
*.log
logs/

# Virtual environments
.venv/
venv/
env/